rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && exists(/databases/$(database)/documents/stores/bella-kraft/admins/$(request.auth.uid));
    }

    match /stores/bella-kraft/products/{productId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}

